{% extends "planner/base.html" %}

{% block user-info %}

	<li id="userLogin" class="">
		<a rel="nofollow" class="login-button" href="/login">
			<span>Log in</span>
		</a>
	</li>

 {% endblock %}


{% block content %}
	<div class="fh5co-hero">
      <div class="fh5co-overlay"></div>
      <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(https://lonelyplanetimages.imgix.net/mastheads/GettyImages-476815715_high.jpg?sharp=10&vib=20&w=1200);">
        <div class="desc">
          <div class="container">
            <div class="row">

              <div class="col-sm-5 col-xs-offset-3">
                <div class="tabulation animate-box">
                  <div class="tab-content">
                   <div role="tabpanel" class="tab-pane active" id="flights">
                    <div class="row">                    

                {% block form %}
                {% endblock %}
                 </div> <!-- row -->
                   </div> <!-- tabpanel -->
                  </div> <!-- tab-content -->
    
                   </div>
                   </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>

{% endblock %}