<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>3 days in San Francisco Itinerary in March • Inspirock</title>
        <!-- Theme CSS --> 
        <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'> -->
        <link id="theme-style" rel="stylesheet" href="/static/planner/style.css">

        <!-- js -->
		<script src="/static/planner/main.js" type="text/javascript"></script>
		<script src="/static/planner/time.js" type="text/javascript"></script>

		<!-- add icon -->
   		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	   	<!-- map -->
   	    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZn0a_BJUnRLk4BVYMeY_uEl8EHXKPKig&callback=initMap"
  type="text/javascript"></script>

  		<script>
   		function add_alert(){
	alert("I am an alert box!");
}
// Mapping from Xinran
function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('googleMap'), {
          zoom: 7,
          center: {lat: 41.85, lng: -87.65}
        });
        var origin = new google.maps.LatLng(37.77493,-122.41942),
            destination = new google.maps.LatLng(37.8006813,-122.444923),
            service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix(
            {
                origins: [origin],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                avoidHighways: false,
                avoidTolls: false
            }, 
            callback
        );
        directionsDisplay.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsDisplay);
        // var onChangeHandler = function() {
        //   calculateAndDisplayRoute(directionsService, directionsDisplay);
        // };
        // document.getElementById('start').addEventListener('change', onChangeHandler);
        // document.getElementById('end').addEventListener('change', onChangeHandler);
      }
      function callback(response, status) {
        var dist = document.getElementById("dist");
        if(status=="OK") {
            value = response.rows[0].elements[0].duration.text;
            dist.innerHTML = "The total time is " + value;
            console.log(dist.value);
        } else {
            alert("Error: " + status);
        }
      }
      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: "37.77493,-122.41942",
          destination: "37.8006813,-122.444923",
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

      //delete li
      
		// $(document).ready(function(){
	 //    	$("button").click(function(){
	 //        	$("#div1").remove();
		//     });
		// });
		

   	</script>


</head>

<body>
	<header class="page-header right" id="pageHeader">

		<div class="header-fixer" style="">
			<div class="header-contents clear-after">
				<div class="header-logo">
					<a href="/"> Pittsburgh Explorer </a>
                	<span class="tagline">Your best one-day planner</span>
				</div>

				<nav class="page-nav right">
					<ul>
	                    <li>
	                        <a id="newplan" rel="nofollow" href="/placeholder-for-same-page-empty"><span>+ New plan</span></a>
	                    </li>
	                    <li id="myPlans" data-dropdown-url="/myPlansDropdown" >
	                        <a rel="nofollow" href="javascript:void(0);">
	                            <span>My plans</span>
	                        </a>
	                    </li>
	                    <li id="userOptions" class="hidden">
	                        <a rel="nofollow" href="javascript:void(0);">
	                            <span class="name">Profile</span>
	                        </a>
	                        <div class="hidden">
	                            <div id="userDropdown">
	                                <ul>
	                                    <li class="logout-button">Log out</li>
	                                </ul>
	                            </div>
	                            <form id="logoutForm" action="/logout" method="POST"></form></div>
	                    </li>
	                    <li id="userLogin" class="">
	                                    <a rel="nofollow" class="login-button" href="/login">
	                                        <span>Log in</span>
	                                    </a>
	                    </li>
	                    <li id="help-container">
							<!-- <a href="#" class="help-tips"></a> -->
	                    </li>
                	</ul>
				</nav>
			</div>			
		</div>
	</header>

	<div class="page-content  clear" id="pageContent" >
		<div class ="planHeaderWrapper" >
			<header class="plan-header" id="planHeader" >
				<div class="plan-header-wrap">
					<div class="plan-header-center clear-after">
						<nav id="plan-nav" class="plan-nav">
							<ul class="tabs clear-after">
								<li class="tab-overview " data-target="overview">					
		                        	<a href="http://www.escaperoompgh.com/"> One-day Trip Planned Around Room Escape </a>
		                    	</li>
							</ul>
						</nav>

						<ul class="plan-actions right">
							<li id="action-download" class="iconaction" style="vertical-align: center;">
							 	<a href="#" >
		         					<i class="material-icons" style="font-size:42px;color:lightgrey;padding-top:12px">file_download</i>
		        				</a>
		                	</li>
			                <li id="action-share" class="iconaction">
								<a href="#">
								  	<i class="material-icons" style="font-size:42px;color:lightgrey;padding-top:12px">share</i>
								</a>
							</li>
			                <li id="action-syncphone" class="iconaction">
								<a href="#">
								  	<i class="material-icons" style="font-size:42px;color:lightgrey;padding-top:12px">important_devices</i>
								</a>
							</li>
			                <li id="action-save" class="iconaction">
								<a href="#">
								  	<i class="material-icons" style="font-size:42px;color:lightgrey;padding-top:12px">book</i>
								</a>
							</li>
		                </ul>
					</div>
				</div>
			</header>
		</div>
		
	<div id="itineraryMainPane" class="itinerary-main-pane "> 
	<div id="daybyday" >
	<!-- Start time record -->
		<div class="day-title clearfix ">
			<div class="day-title-container destinationDetailsLink clickable-text" data-link="/plan/84f74934-fc04-4fab-bee3-6d2828540ad7/united-states/san-francisco/trip-planner-d62308463" data-event-src="day-title">

			<div class="day">
		            <div class="mon">Mar</div>
		            <div class="date">15</div>
		            <div class="dow">Wed</div>
	        </div>

	        <div class="in-wrap">
	            <div class="bar"></div>
	        </div>

	        <div class="stay-area">
	            <div class="stayName">Day starts at 9:30am at Center&Morewood </div>
	        </div>

	        </div>
		</div>	
	</div>

	<!-- Drag&Drop  -->
	<section>
	<p class="hidden" id="itemCount">3</p>
	<h2 class="hidden"><em>toJSON</em> <span id="jsonResults"></span></h2>
		<ul class="sortable list">
			<li id="item1">

				<!-- ** Travel-Ban ** -->
			    <div class="itinerary-hop-row">
				    <span class="down-arrow"></span>
				    <span class="travelTime">52&#8203;min</span>
				    <a class="directions text-link" rel="nofollow" href="https://www.google.com/maps/dir/''/Johnny+Angel's+Ginchy+Stuff,,+1800+Preble+Avenue,,+Pittsburgh,+PA+15233/@40.4489007,-80.0236437,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x8834f23c3289e4a9:0x27546d61b6e01184!2m2!1d-79.944537!2d40.454039!1m5!1m1!1s0x8834f45baaaaaaab:0x74b583fc8405ab1b!2m2!1d-80.0324016!2d40.4562853!3e3" target="_blank">Get details &raquo;</a>
		        </div>
		        <!-- Morning Item -->
		        <div class="visit-row">
				    <div class="visit-contents">
				        <div class="left-col bar overlap">
				            <div class="visit-time">
				                <div class="time" id="time-1">10:30am</div>
		            		</div>
				        	<div class="visit-duration">
				            	<div class="edit-duration">
				                	<div class="minus reduceTime " onClick="subtractTime(1)">-</div>
				                    <div class="duration">
				                        <div class="durationTime" id="time-duration-1">1:30h</div>
				                    </div>
				                    <div class="plus addTime" onClick="addTime(1)">+</div>
				                </div>
				        	</div>
				        </div>

		        <div class="right-col">
            		<div>
                		<div class="copyright-info">
    						<div class="visit-row-medium">
                        		<div class="photo clickable-image attLink"
                                    style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0d/a8/31/d3/johnny-angel-s-ginchy.jpg')" >
                                </div>
                            </div>
                		</div>
                		<div class="detail">
		                    <div class="name attLink clickable-text"><a id="attrtitle" href="http://www.jaginchystuff.com/">Johnny Angel's Ginchy Stuff</a></div>
		                    <div class="clear"></div>

		                    <div class="rating-stars ">
							    <!-- <span class="rating-stars-fill" style="width:94.0%;"></span> -->
							    <div class="i-stars i-stars--small-5 rating-large" title="4.5 star rating">
       							 	<img class="offscreen" height="303" src="https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_design_web/41341496d9db/assets/img/stars/stars.png" width="84" alt="4.5 star rating">
   								</div>
							</div>

							<div class="review">(12+ reviews)</div>
                			<div class="tags-attractions">
                    			<span class="tag" data-cat-id="70">Indoor Activity</span>
                            </div>

                    		<div class="desc">
                        		<blockquote class="trim-desc" data-more-link="/plan/84f74934-fc04-4fab-bee3-6d2828540ad7/united-states/san-francisco/alcatraz-island-a63897243" cite="https://www.inspirock.com/united-states/san-francisco/alcatraz-island-a63897243">
                            		Johnny Angel’s store can be broken up into the museum, home to Johnny’s collection of memorabilia spanning his 50+ years in the music business, and his store
                            	</blockquote>
                    		</div>

                    	<div class="tags-and-tours">
                        	<a class="tours-link text-link attLink jumper" href="/">
                                Free</a>
                        </div>
                	</div>
                	<div class="delete" id="delete" onclick="removeElement(1)">
                        <div class="fa fa-times">x</div>
		                    </div>
		                </div>
		        	</div>
				</div>
				</div>

			</li>

			<li id="item2">
				<!-- ** Travel-Ban ** -->
			    <div class="itinerary-hop-row">
				    <span class="down-arrow"></span>
				    <span class="travelTime">60&#8203;min</span>
				    <a class="directions text-link" rel="nofollow" href="https://www.google.com/maps/dir/Johnny+Angel's+Ginchy+Stuff,,+1800+Preble+Avenue,,+Pittsburgh,+PA+15233/The+Alcove,+875+Greentree+Rd+%23106,+Pittsburgh,+PA+15220/@40.4365128,-80.0535015,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x8834f45baaaaaaab:0x74b583fc8405ab1b!2m2!1d-80.0324016!2d40.4562853!1m5!1m1!1s0x8834f6ed3ebf6a37:0x90ed0328d0b4ba90!2m2!1d-80.0407444!2d40.4266614!3e3" target="_blank">Get details &raquo;</a>
		        </div>

		        <!-- Lunch Item -->
		        <div class="visit-row">
				    <div class="visit-contents">
				        <div class="left-col bar overlap">
				            <div class="visit-time">
				                <div class="time" id="time-2">1:00pm</div>
		            		</div>
				        	<div class="visit-duration">
				            	<div class="edit-duration">
				                	<div class="minus reduceTime" onClick="subtractTime(2)">-</div>
				                    <div class="duration">
				                        <div class="durationTime" id="time-duration-2">1:00h</div>
				                    </div>
				                    <div class="plus addTime" onClick="addTime(2)">+</div>
				                </div>
				        	</div>
				        </div>

				        <div class="right-col">
		            		<div>
		                		<div class="copyright-info">
		    						<div class="visit-row-medium">
		                        		<div class="photo clickable-image attLink"
		                                    style="background-image: url('https://s3-media2.fl.yelpcdn.com/bphoto/kR0bw8t0EJYfIEWf_RqhDA/o.jpg')" >
		                                </div>
		                            </div>
		                		</div>
		                		<div class="detail">
				                    <div class="name attLink clickable-text"><a id="attrtitle" href="http://places.singleplatform.com/the-alcove-2/menu?ref=google">The Alcove</a></div>
				                    <div class="clear"></div>

				                    <div class="rating-stars ">
									    <!-- <span class="rating-stars-fill" style="width:94.0%;"></span> -->
									    <div class="i-stars i-stars--small-5 rating-large" title="5 star rating">
		       							 	<img class="offscreen" height="303" src="https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_design_web/41341496d9db/assets/img/stars/stars.png" width="84" alt="4.5 star rating">
		   								</div>
									</div>

									<div class="review">(10 reviews)</div>
		                			<div class="tags-attractions">
		                    			<span class="tag" data-cat-id="70">Restaurant</span>
		                            </div>

		                    		<div class="desc">
		                        		<blockquote class="trim-desc" data-more-link="https://www.yelp.com/biz/the-alcove-pittsburgh" cite="https://www.yelp.com/biz/the-alcove-pittsburgh">
		                            		Sandwiches, Diners, Delis
		                            	</blockquote>
		                    		</div>

		                    	<div class="tags-and-tours">
		                        	<a class="tours-link text-link attLink jumper" href="/">
		                                Under $10</a>
		                        </div>
		                	</div>
		                	<div class="delete"  id="delete" onclick="removeElement(2)"> 
		                        <div class="fa fa-times">x</div>
		                    </div>
		                </div>
		        	</div>
				</div>
				</div>

			</li>

			<li id="item3">
				<!-- ** Travel-Ban ** -->
			    <div class="itinerary-hop-row">
				    <span class="down-arrow"></span>
				    <span class="travelTime">60&#8203;min</span>
				    <a class="directions text-link" rel="nofollow" href="https://www.google.com/maps/dir/The+Alcove,+875+Greentree+Rd+%23106,+Pittsburgh,+PA+15220/Carnegie+Museum+of+Natural+History,+Carnegie+Museums+of+Pittsburgh,+4400+Forbes+Ave,+Pittsburgh,+PA+15213/@40.4318721,-80.0310059,13z/data=!3m2!4b1!5s0x8834f226f188e875:0xa91352f532470d90!4m14!4m13!1m5!1m1!1s0x8834f6ed3ebf6a37:0x90ed0328d0b4ba90!2m2!1d-80.0407444!2d40.4266614!1m5!1m1!1s0x8834f2264fbf8605:0x8968e7e4db84efc2!2m2!1d-79.950705!2d40.44345!3e3" target="_blank">Get details &raquo;</a>
		        </div>

			<!-- Afternoon Item -->
	        <div class="visit-row">
			    <div class="visit-contents">
			        <div class="left-col bar overlap">
			            <div class="visit-time">
			                <div class="time" id="time-3">3:00pm</div>
	            		</div>
			        	<div class="visit-duration">
			            	<div class="edit-duration">
			                	<div class="minus reduceTime" onClick="subtractTime(3)">-</div>
			                    <div class="duration">
			                        <div class="durationTime" id="time-duration-3">2:00h</div>
			                    </div>
			                    <div class="plus addTime " onClick="addTime(3)">+</div>
			                </div>
			        	</div>
			        </div>

			        <div class="right-col">
	            		<div>
	                		<div class="copyright-info">
	    						<div class="visit-row-medium">
	                        		<div class="photo clickable-image attLink"
	                                    style="background-image: url('https://thefriendlygiraffe.files.wordpress.com/2012/09/dsc_0243.jpg?w=1378&h=916')" >
	                                </div>
	                            </div>
	                		</div>
	                		<div class="detail">
			                    <div class="name attLink clickable-text"><a id="attrtitle" href="http://www.carnegiemnh.org/">Carnegie Museum of Natural History</a></div>
			                    <div class="clear"></div>

			                    <div class="rating-stars ">
								    <!-- <span class="rating-stars-fill" style="width:94.0%;"></span> -->
								    <div class="i-stars i-stars--small-4-half rating-large" title="4.5 star rating">
	       							 	<img class="offscreen" height="303" src="https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_design_web/41341496d9db/assets/img/stars/stars.png" width="84" alt="4.5 star rating">
	   								</div>
								</div>

								<div class="review">(1,169+ reviews)</div>
	                			<div class="tags-attractions">
	                    			<span class="tag" data-cat-id="70">Museum</span>
	                            </div>

	                    		<div class="desc">
	                        		<blockquote class="trim-desc" data-more-link="/plan/84f74934-fc04-4fab-bee3-6d2828540ad7/united-states/san-francisco/alcatraz-island-a63897243" cite="https://www.inspirock.com/united-states/san-francisco/alcatraz-island-a63897243">
	                            		Dig for bones in Bonehunters Quarry, get hands-on with real and replica specimens in Discovery Basecamp.
	                            	</blockquote>
	                    		</div>

	                    		<div class="tags-and-tours">
		                        	<a class="tours-link text-link attLink jumper" href="/">
		                                Free</a>
		                        </div>
	                		</div>
		                	<div class="delete" id="delete" onclick="removeElement(3)">
		                        <div class="fa fa-times">x</div>
		                    </div>
		                </div>
		        	</div>
				</div>
				</div>
			</li>

			</ul>
		</section>

		<!-- ** Travel-Ban ** -->
	    <div class="itinerary-hop-row">
		    <span class="down-arrow"></span>
		    <span class="travelTime">12&#8203;min</span>
		    <a class="directions text-link" rel="nofollow" href="https://www.google.com/maps/dir/Carnegie+Museum+of+Natural+History,+Carnegie+Museums+of+Pittsburgh,+4400+Forbes+Ave,+Pittsburgh,+PA+15213/''/@40.448577,-79.9568605,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x8834f2264fbf8605:0x8968e7e4db84efc2!2m2!1d-79.950705!2d40.44345!1m5!1m1!1s0x8834f23c3289e4a9:0x27546d61b6e01184!2m2!1d-79.944537!2d40.454039!3e3" target="_blank">Get details &raquo;</a>
        </div>

		<!-- End time record -->
		<div class="day-title clearfix ">
			<div class="day-title-container destinationDetailsLink clickable-text" data-link="/plan/84f74934-fc04-4fab-bee3-6d2828540ad7/united-states/san-francisco/trip-planner-d62308463" data-event-src="day-title">
       			<div class="day">
       			<!-- <p>  </p> -->
		            <div class="mon">Total</div>
		            <div class="date">$15</div>
		            <!-- <div class="dow">Wed</div> -->
		        </div>
		        <div class="in-wrap">
		            <div class="bar"></div>
		        </div>
		        <div class="stay-area">
		            <div class="stayName">Day ends at 5:30pm at Center&Morewood </div>
		        </div>
		    </div>
		</div>
    </div> <!-- end daybyday -->
	</div> <!-- itineraryMainPane -->

	<div id="SugguestionMainPane" class="suggestion-main-pane "> 
		<div class="search-title">
        	<div class="title">Things to do nearby Room Escape</div>
        </div>
        <div class="more-filters ">
        	<div class="clearfix">
        		<!-- Dropdown Buttons -->
            	<div class="dropdown">
            		<button onclick="myFunction(1)" class="dropbtn" id="1">Indoor</button>
            			<div id="myDropdown 1" class="dropdown-content 1">
            				<a href="#Museum">Museum</a>
		    				<a href="#Activity">Activity</a>
		    				<a href="#Courses">Courses</a>
		    			</div>
		    	</div>

		    	<div class="dropdown">
            		<button onclick="myFunction(2)" class="dropbtn">Restaurant</button>
            			<div id="myDropdown 2" class="dropdown-content 2">
            				<a href="#$">$</a>
		    				<a href="#$$">$$</a>
		    				<a href="#$$$">$$$</a>
		    			</div>
		    	</div>

		    	<div class="dropdown">
            		<button onclick="myFunction(3)" class="dropbtn">Outdoor</button>
            			<div id="myDropdown 3" class="dropdown-content 3">
            				<a href="#Park">Park</a>
		    				<a href="#Street">Street</a>
		    			</div>
		    	</div>

	    		<!-- Filter -->
	            <input id="hideOutside-625" type="checkbox" class="shaded hideOutside" name="hideOutside" />
	                <label class="hide-outside" for="hideOutside-625">Hide selected items</label>
	        </div>
	    </div>
			<div class="search-result-pane">
				    <ul class='attraction clear-after' style="overflow: auto" style="float:left">

				    	<li class="attraction clear-after">
				    		<div class="search-item">
			    				<span class="attractionDetailsLink clickable-text" data-link="/" data-event-src="browse-results">
			    					<div class="search-pic" style="background-image:url('http://www.warhol.org/wp-content/uploads/2016/12/fascade_banner.png')">
			                        </div>
			                    </span>
			                    <div style="height:40px;"> 
			                        <span class="attractionTitle" datalink="http://www.warhol.org/visit/">Andy Warhol Museum</span>
			                	</div>
			                		<div>
			            				<button onclick="add_alert()" class="alert" id>Add</button>
					    			</div>
					    	</div>
					    </li>

			            <li class="attraction clear-after" style="float:left">
			    			<span class="attractionDetailsLink clickable-text" data-link="/" data-event-src="browse-results">
			        			<div class="search-item">
			    					<div class="search-pic" style="background-image:url('https://media-cdn.tripadvisor.com/media/photo-s/02/f5/5e/08/mattress-factory.jpg')">
			                        </div>
			                        <div style="height:40px;"> 
			                        <span class="attractionTitle" datalink="http://www.mattress.org/">Mattress Factories</span>
			                		</div>
			                		<div>
			            				<button onclick="add_alert()" class="alert" id>Add</button>
					    			</div>
					    		</div>
					    	</span>
					    </li>

					    <li class="attraction clear-after">
				    		<div class="search-item">
			    				<span class="attractionDetailsLink clickable-text" data-link="/" data-event-src="browse-results">
			    					<div class="search-pic" style="background-image:url('https://media-cdn.tripadvisor.com/media/photo-s/09/c1/cc/be/center-for-postnatural.jpg')">
			                        </div>
			                    </span>
			                    <div style="height:40px;"> 
			                        <span class="attractionTitle" datalink="http://www.postnatural.org/">Center for PostNatural History</span>
			                	</div>
			                		<div>
			            				<button onclick="add_alert()" class="alert" id>Add</button>
					    			</div>
					    	</div>
					    </li>

			            <li class="attraction clear-after" style="float:left">
			    			<span class="attractionDetailsLink clickable-text" data-link="/" data-event-src="browse-results">
			        			<div class="search-item">
			    					<div class="search-pic" style="background-image:url('https://places2explore.files.wordpress.com/2010/07/cathedral-of-learn-hdr-011.jpg?w=1280')">
			                        </div>
			                        <div style="height:40px;"> 
			                        <span class="attractionTitle" datalink="http://www.nationalityrooms.pitt.edu/about/cathedral-learning">Cathedral of Learning</span>
			                		</div>
			                		<div>
			            				<button onclick="add_alert()" class="alert" id>Add</button>
					    			</div>
					    		</div>
					    	</span>
					    </li>
					</ul>
			</div>

			<div id="floating-panel">
			    <b>Mode of Travel: </b>
			    <select id="mode">
			      <option value="DRIVING">By car</option>
			      <option value="WALKING">On foot</option>
			      <option value="BICYCLING">By bicycle</option>
			      <option value="TRANSIT">By public transport</option>
			    </select>
			</div>
			<div id = "dist" style="font-size: 20px"></div>
			<div id="googleMap" style="height:500px;margin:0px;border:0px;padding:0px">
			</div>






			

        <div class="sort-box hidden">
            <span class="sort-title">Sort List by:</span>
            <select id="sortBy">
                <option value="popularity" selected>Ranking</option>
                <option value="alphabetical" >Alphabetical</option>
            </select>
        </div>
        </div>


	</div>


	
	<script src="/static/planner/zepto.min.js"></script>
	<script src="/static/planner/zepto.dragswap.js"></script>

	<script>
	function removeElement(i) {
   		// document.getElementById("item"+i).style.display = "none";
   		document.getElementById("item"+i).remove();
	}
	</script>

</body>
</html>
